<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>
<body class=<%= imageDesc %>>
    <div class="title">weatherApp</div>
    <div class="cityName">
        <form action="/" method="post">
            <input type="text" name="cityName" class="name" placeholder=<%= name %>>
            <button type="submit" name="submit"><i class="fas fa-search"></i></button>
            </form>
    </div>
    <div class="allInfo">
        <div class="temperatureInfo">
            <div class="mainTemp <%=show%>"><%=temp%></div>
            <div class="date"><%= date %></div>
            <div class="img <%=show%>"><img src=<%= iconURL%>></div>
        </div>
        <div class="moreInfo <%=show%>">
            <h2>Weather Details</h2>
            <div class="detail">
                <div class="infoName">Maximum Temperature</div>   
                <div class="maxT result"><%=tempMax%></div>
            </div>
            <div class="detail">
                <div class="infoName">Minimun Temperature</div>    
                <div class="minT result"><%=tempMin%></div></div>
            <div class="detail">
                <div class="infoName">Feels Like</div> 
                <div class="result"><%=feelsLike%></div>
            </div>
            <div class="detail">
                <div class="infoName">Wind Speed</div> 
                <div class="result"><%=windSpeed%></div>
            </div>
        </div>
    </div>
</body>
</html>